/**
 * Color Sets
 */

$color-1: #1a2229;
$color-2: #a7a5a5;
$color-3: #e4e1e1; // Used for hover effect on actionable elements
//Temp Colors
$color-temp-3: #00acac;
$color-temp-4: #5cb85c;
$color-temp-5: #d9534f;
$color-temp-6: #f0ad4e;

/**
 * Font Sizes
 */

$font-size-normal: 1rem;
$font-size-large: 1.2rem;
