.oms-box {
    border: 1px solid $color-2;
    background: #FFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.oms-box-th {
    border-bottom: 1px solid $color-2;
    margin-bottom: 5px;
    font-weight: bold;
}
