.oms-multi-select-wrapper {
    position: relative;
    z-index: 1;
}

.oms-multi-select {
    &:after {
        @extend .font-size-small;
        content: "V";
        width: 20px;
        height: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}

.oms-multi-select-options-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFF;
    width: 100%;
    border: 1px solid $color-2;
    max-height: 170px;
    overflow: auto;
}

.oms-multi-select-options {
    display: block;
    padding: 8px 5px;
    cursor: pointer;
    &:hover {
        background: $color-3;
    }
}
