._pcko {
    .search-block {
        border: 1px solid $color-2;
        background: #FFF;
        padding: 10px;
        form {
            padding: 20px 0;
        }
        .oms-input-text {
            width: 100%;
        }
    }
}
