<div class="has-navbar _db">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="oms-box">
                <div class="oms-box-th delivery-th">
                    Store Delivery Orders
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="oms-box">
                <div class="oms-box-th wrhouse-delivery-th">
                    Warehouse Delivery Orders
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="oms-box">
                <div class="oms-box-th pickup-th">
                    Pickup Orders
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="oms-box">
                <div class="oms-box-th allorders-th">
                    2158
                    <small>All Orders</small>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="oms-box">
                <div class="oms-box-th retorders-th">
                    15
                    <small>Return Orders</small>
                </div>
            </div>
        </div>
    </div>
</div>
