<div>
    <button class="oms-button" ng-click="toggleFormVisibility()">Search</button>
    <form ng-show="isFormVisible">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Consigment Id</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Id</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Date Start</div>
                <oms-date-picker date="PickupOrderData.orderStartDate" min-date="PickupOrderData.orderStartMinDate"></oms-date-picker>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Date End</div>
                <oms-date-picker date="PickupOrderData.orderEndDate" min-date="PickupOrderData.orderStartDate"></oms-date-picker>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Customer Name</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Store Name</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Store ID</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Fullfilment Store ID</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Fullfilment Store Name</div>
                <input class="oms-input-text" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Order Status</div>
                <select>
                    <option>1</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div>Consignment Status</div>
                <select>
                    <option>1</option>
                </select>
            </div>
        </div>
    </form>
</div>
