<div class="has-navbar _pcko">
    <h1>PickUp Order</h1>
    <center ng-show="!pickUpdata" style="margin-top:80px;">
        <oms-loader data-width="30" data-height="30"></oms-loader>
    </center>
    <div ng-show="pickUpdata">
        <oms-search-block class="search-block"></oms-search-block>
        <div class="oms-box">
            <div class="oms-box-table">
                <div class="oms-box-row">
                    <div class="oms-box-col-th">
                        Consignment Id
                    </div>
                    <div class="oms-box-col-th">
                        Order Id
                    </div>
                    <div class="oms-box-col-th">
                        Order Date
                    </div>
                    <div class="oms-box-col-th">
                        Item Count
                    </div>
                    <div class="oms-box-col-th">
                        Payment Type
                    </div>
                    <div class="oms-box-col-th" style="max-width:70px">
                        Consignment Value
                    </div>
                    <div class="oms-box-col-th">
                        Customer Name
                    </div>
                    <div class="oms-box-col-th">
                        Ordering Store
                    </div>
                    <div class="oms-box-col-th">
                        Fulfilment Center
                    </div>
                    <div class="oms-box-col-th">
                        Order Status
                    </div>
                    <div class="oms-box-col-th">
                        Consignment Status
                    </div>
                    <div class="oms-box-col-th">
                        Consignment Stamp
                    </div>
                    <div class="oms-box-col-th">
                        Count Down
                    </div>
                </div>
                <div class="oms-box-row" ng-repeat="data in pickUpdata.consignment">
                    <div class="oms-box-col">
                        <a class="oms-link" ng-href="orderdetail/{{data.consignmentId}}" ng-bind="data.consignmentId"></a>
                    </div>
                    <div class="oms-box-col" ng-bind="data.orderId"></div>
                    <div class="oms-box-col" ng-bind="data.orderDate"></div>
                    <div class="oms-box-col" ng-bind="data.consignmentItemCount"></div>
                    <div class="oms-box-col" ng-bind="data.paymentType"></div>
                    <div class="oms-box-col" ng-bind="'Rs. '+data.consignmentValue"></div>
                    <div class="oms-box-col" ng-bind="data.customerName"></div>
                    <div class="oms-box-col" ng-bind="data.orderingStore"></div>
                    <div class="oms-box-col" ng-bind="data.fullfilmentCenter"></div>
                    <div class="oms-box-col" ng-bind="data.orderStatus"></div>
                    <div class="oms-box-col" ng-bind="data.consignmentStatus"></div>
                    <div class="oms-box-col" ng-bind="data.consignmentStamp"></div>
                    <div class="oms-box-col" ng-bind="data.countDown"></div>
                </div>
            </div>
        </div>
        <div class="">
        </div>
    </div>
</div>
